<%- include("../partials/header") %>

<% 

function timeSince(timestamp) {
	let now = new Date();
	if(timestamp > now) {
		console.log("Time stamp from comment is in the future");
		return "";
	}
	let timeInterval = Math.floor((now - timestamp) / 1000); //time in seconds
	if (timeInterval < 60 ) return timeInterval + "s ago";
	timeInterval = Math.floor(timeInterval/60); //convert to minutes
	if (timeInterval < 60 ) return timeInterval + "m ago";
	timeInterval = Math.floor(timeInterval/60); //convert to hours
	if (timeInterval < 24 ) return timeInterval + "h ago";
	timeInterval = Math.floor(timeInterval/24); //convert to days
	if (timeInterval < 21 ) return timeInterval + " day" + ((timeInterval === 1) ? "":"s") + " ago";
	if (timeInterval < 365 ) return Math.floor(timeInterval/7) + " weeks ago";
	timeInterval = Math.floor(timeInterval/365); //convert to years
	return timeInterval + " year" + ((timeInterval === 1) ? "":"s") + " ago";
}

%> 

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			
			<div class="card mb-2">
				<img src="<%= campground.image %>" class="card-img-top" alt="Campsite Image">
				<div class="card-body">
					<h4 class="float-right">$<%=	campground.price %>/night</h4>
					<h4 class="card-title"><a href="#"><%= campground.name %></a></h4>
					<p class="card-text"><%= campground.description %></p>
					<p class="card-text">
						<em>Submitted by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= timeSince(campground.timestamp) %></em>
					</p>

					<% if(currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin) ) { %>
						<a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
						<form class="delete-form" action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-sm">Delete</button>
						</form>
					<% } %>
					
				</div>
			</div>
			
			<div class="card bg-light mb-3">
				<div class="text-right card-body">
					<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
				</div>
				<div class="card-body">
					<% campground.comments.forEach( (comment) => { %>
						<div class="row">
							<div class="col-md-12 card-text">
								<strong><a href="/users/<%= comment.author.id %>""><%= comment.author.username %></a></strong>
								<span class="float-right"><em><%= timeSince(comment.timestamp) %></em></span>
								<p><%= comment.text %></p>

								<!-- Allow the matching user to edit/remove their comment -->
								<% if (currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin) ) { %>
									<a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
									<form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
										<button class="btn btn-danger btn-sm">Delete</button>
									</form>
								<% } %>
							</div>
						</div>
					<% }) %>
				</div>
			</div>
			
		</div>
	</div>
</div>

<%- include("../partials/footer") %>

